<div class="content" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: 0px -30px;">
        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                    <div class="simplebar-content" style="padding: 0px 30px;">
                        <!-- About -->
                        <div class="section mt-0">
                            <h1 class="title title--h1 title__separate" style="color:black">About Me</h1>
                            <div class="pt-2 pt-sm-3" style="color: #035096">
                                <p>I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media. I enjoy turning complex problems into simple, beautiful and intuitive designs.</p>
                                <p class="mb-0">My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way. I created web design for many famous brand companies.</p>
                            </div>
                        </div>

                        <!-- What -->
                        <div class="section">
                            <h2 class="title title--h2">What I'm Doing</h2>
                            <div class="row">
                                <!-- Case Item -->
                                <div class="col-12 col-lg-6 case-item-wrap" style="color:blue">
                                    <div class="case-item" style="height: 190px;">
                                        <img class="case-item__icon" src="assets/icons/icon-design.svg" alt="">
                                        <h3 class="title title--h3">Web Design</h3>
                                        <p class="case-item__caption">The most modern and high-quality design made at a professional level. </p>
                                    </div>
                                </div>

                                <!-- Case Item -->
                                <div class="col-12 col-lg-6 case-item-wrap">
                                    <div class="case-item" style="height: 190px;">
                                        <img class="case-item__icon" src="assets/icons/icon-dev.svg" alt="">
                                        <h3 class="title title--h3">Web Development</h3>
                                        <p class="case-item__caption">High-quality development of sites at the professional level.</p>
                                    </div>
                                </div>

                                <!-- Case Item -->
                                <div class="col-12 col-lg-6 case-item-wrap">
                                    <div class="case-item" style="height: 190px;">
                                        <img class="case-item__icon" src="assets/icons/icon-app.svg" alt="">
                                        <h3 class="title title--h3">Mobile Apps</h3>
                                        <p class="case-item__caption">Professional development of applications for iOS and Android.</p>
                                    </div>
                                </div>

                                <!-- Case Item -->
                                <div class="col-12 col-lg-6 case-item-wrap">
                                    <div class="case-item" style="height: 190px;">
                                        <img class="case-item__icon" src="assets/icons/icon-photo.svg" alt="">
                                        <h3 class="title title--h3">Photography</h3>
                                        <p class="case-item__caption">I make high-quality photos of any category at a professional level.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Testimonials -->
                        <div class="section">
                            <h2 class="title title--h2">Testimonials</h2>
                            <div class="swiper-container js-carousel-review swiper-container-initialized swiper-container-horizontal" style="cursor: grab;">
                                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                                    <!-- Item review -->
                                    <div class="swiper-slide review-item swiper-slide-active" style="width: 690px; margin-right: 30px;">
                                        <svg class="avatar avatar--80" viewBox="0 0 84 84">
                                            <g class="avatar__hexagon">
                                                <image xlink:href="assets/img/avatar-2.jpg" height="100%" width="100%"></image>
                                            </g>
                                        </svg>
                                        <h4 class="title title--h3">Daniel Lewis</h4>
                                        <p class="review-item__caption">Felicia was hired to create a corporate identity. We were very pleased with the work done. She has a lot of experience and is very concerned about the needs of client.</p>
                                    </div>

                                    <!-- Item review -->
                                    <div class="swiper-slide review-item swiper-slide-next" style="width: 690px; margin-right: 30px;">
                                        <svg class="avatar avatar--80" viewBox="0 0 84 84">
                                            <g class="avatar__hexagon">
                                                <image xlink:href="assets/img/avatar-3.jpg" height="100%" width="100%"></image>
                                            </g>
                                        </svg>
                                        <h4 class="title title--h3">Jessica Miller</h4>
                                        <p class="review-item__caption">Felicia was hired to create a corporate identity. We were very pleased with the work done. She has a lot of experience and is very concerned about the needs of client.</p>
                                    </div>

                                    <!-- Item review -->
                                    <div class="swiper-slide review-item" style="width: 690px; margin-right: 30px;">
                                        <svg class="avatar avatar--80" viewBox="0 0 84 84">
                                            <g class="avatar__hexagon">
                                                <image xlink:href="assets/img/avatar-4.jpg" height="100%" width="100%"></image>
                                            </g>
                                        </svg>
                                        <h4 class="title title--h3">Tanya Ruiz</h4>
                                        <p class="review-item__caption">Felicia was hired to create a corporate identity. We were very pleased with the work done. She has a lot of experience and is very concerned about the needs of client.</p>
                                    </div>

                                    <!-- Item review -->
                                    <div class="swiper-slide review-item" style="width: 690px; margin-right: 30px;">
                                        <svg class="avatar avatar--80" viewBox="0 0 84 84">
                                            <g class="avatar__hexagon">
                                                <image xlink:href="assets/img/avatar-5.jpg" height="100%" width="100%"></image>
                                            </g>
                                        </svg>
                                        <h4 class="title title--h3">Thomas Castro</h4>
                                        <p class="review-item__caption">Felicia was hired to create a corporate identity. We were very pleased with the work done. She has a lot of experience and is very concerned about the needs of client.</p>
                                    </div>
                                </div>

                                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>

                        <!-- Clients -->
                        <div class="section">
                            <h2 class="title title--h2">Clients</h2>
                            <div class="swiper-container js-carousel-clients swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                    <!-- Item client -->
                                    <div class="swiper-slide swiper-slide-active" style="width: 150px; margin-right: 30px;">
                                        <a href="#"><img src="assets/img/logo-partner.svg" alt="Logo"></a>
                                    </div>

                                    <!-- Item client -->
                                    <div class="swiper-slide swiper-slide-next" style="width: 150px; margin-right: 30px;">
                                        <a href="#"><img src="assets/img/logo-partner.svg" alt="Logo"></a>
                                    </div>

                                    <!-- Item client -->
                                    <div class="swiper-slide" style="width: 150px; margin-right: 30px;">
                                        <a href="#"><img src="assets/img/logo-partner.svg" alt="Logo"></a>
                                    </div>

                                    <!-- Item client -->
                                    <div class="swiper-slide" style="width: 150px; margin-right: 30px;">
                                        <a href="#"><img src="assets/img/logo-partner.svg" alt="Logo"></a>
                                    </div>
                                </div>

                                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="simplebar-placeholder" style="width: 750px; height: 1136px;"></div>
    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 186px; transform: translate3d(0px, 1px, 0px); display: block;"></div></div>
</div>